{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : null,
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : null,
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : false,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : false
  },
  "metadata" : {
    "apiVersion" : "2017-03-31",
    "asyncClient" : "AWSLakeFormationAsyncClient",
    "asyncClientBuilderClassName" : "AWSLakeFormationAsyncClientBuilder",
    "asyncInterface" : "AWSLakeFormationAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : null,
    "cucumberModuleInjectorClassName" : "AWSLakeFormationModuleInjector",
    "defaultEndpoint" : "https://lakeformation.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "lakeformation.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : null,
    "endpointPrefix" : "lakeformation",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.lakeformation",
    "packagePath" : "com/amazonaws/services/lakeformation",
    "protocol" : "json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "AWS Lake Formation",
    "serviceId" : "LakeFormation",
    "serviceName" : "AWS Lake Formation",
    "signingName" : "lakeformation",
    "smokeTestsPackageName" : "com.amazonaws.services.lakeformation.smoketests",
    "syncClient" : "AWSLakeFormationClient",
    "syncClientBuilderClassName" : "AWSLakeFormationClientBuilder",
    "syncInterface" : "AWSLakeFormation",
    "uid" : "lakeformation-2017-03-31",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "AssumeDecoratedRoleWithSAML" : {
      "asyncCallableType" : "java.util.concurrent.Callable<AssumeDecoratedRoleWithSAMLResult>",
      "asyncFutureType" : "java.util.concurrent.Future<AssumeDecoratedRoleWithSAMLResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<AssumeDecoratedRoleWithSAMLRequest, AssumeDecoratedRoleWithSAMLResult>",
      "asyncReturnType" : "AssumeDecoratedRoleWithSAMLResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AccessDeniedException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssumeDecoratedRoleWithSAMLRequest",
        "variableName" : "assumeDecoratedRoleWithSAMLRequest",
        "variableType" : "AssumeDecoratedRoleWithSAMLRequest",
        "documentation" : "",
        "simpleType" : "AssumeDecoratedRoleWithSAMLRequest",
        "variableSetterType" : "AssumeDecoratedRoleWithSAMLRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "assumeDecoratedRoleWithSAML",
      "operationName" : "AssumeDecoratedRoleWithSAML",
      "returnType" : {
        "returnType" : "AssumeDecoratedRoleWithSAMLResult",
        "documentation" : null
      },
      "syncReturnType" : "AssumeDecoratedRoleWithSAMLResult"
    },
    "BatchGrantPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchGrantPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchGrantPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchGrantPermissionsRequest, BatchGrantPermissionsResult>",
      "asyncReturnType" : "BatchGrantPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGrantPermissionsRequest",
        "variableName" : "batchGrantPermissionsRequest",
        "variableType" : "BatchGrantPermissionsRequest",
        "documentation" : "",
        "simpleType" : "BatchGrantPermissionsRequest",
        "variableSetterType" : "BatchGrantPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchGrantPermissions",
      "operationName" : "BatchGrantPermissions",
      "returnType" : {
        "returnType" : "BatchGrantPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchGrantPermissionsResult"
    },
    "BatchRevokePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchRevokePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchRevokePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchRevokePermissionsRequest, BatchRevokePermissionsResult>",
      "asyncReturnType" : "BatchRevokePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchRevokePermissionsRequest",
        "variableName" : "batchRevokePermissionsRequest",
        "variableType" : "BatchRevokePermissionsRequest",
        "documentation" : "",
        "simpleType" : "BatchRevokePermissionsRequest",
        "variableSetterType" : "BatchRevokePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchRevokePermissions",
      "operationName" : "BatchRevokePermissions",
      "returnType" : {
        "returnType" : "BatchRevokePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchRevokePermissionsResult"
    },
    "DeregisterResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeregisterResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeregisterResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeregisterResourceRequest, DeregisterResourceResult>",
      "asyncReturnType" : "DeregisterResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeregisterResourceRequest",
        "variableName" : "deregisterResourceRequest",
        "variableType" : "DeregisterResourceRequest",
        "documentation" : "",
        "simpleType" : "DeregisterResourceRequest",
        "variableSetterType" : "DeregisterResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deregisterResource",
      "operationName" : "DeregisterResource",
      "returnType" : {
        "returnType" : "DeregisterResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DeregisterResourceResult"
    },
    "DescribeResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DescribeResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DescribeResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DescribeResourceRequest, DescribeResourceResult>",
      "asyncReturnType" : "DescribeResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DescribeResourceRequest",
        "variableName" : "describeResourceRequest",
        "variableType" : "DescribeResourceRequest",
        "documentation" : "",
        "simpleType" : "DescribeResourceRequest",
        "variableSetterType" : "DescribeResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "describeResource",
      "operationName" : "DescribeResource",
      "returnType" : {
        "returnType" : "DescribeResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "DescribeResourceResult"
    },
    "GetDataLakeSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetDataLakeSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetDataLakeSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetDataLakeSettingsRequest, GetDataLakeSettingsResult>",
      "asyncReturnType" : "GetDataLakeSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetDataLakeSettingsRequest",
        "variableName" : "getDataLakeSettingsRequest",
        "variableType" : "GetDataLakeSettingsRequest",
        "documentation" : "",
        "simpleType" : "GetDataLakeSettingsRequest",
        "variableSetterType" : "GetDataLakeSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getDataLakeSettings",
      "operationName" : "GetDataLakeSettings",
      "returnType" : {
        "returnType" : "GetDataLakeSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "GetDataLakeSettingsResult"
    },
    "GetEffectivePermissionsForPath" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetEffectivePermissionsForPathResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetEffectivePermissionsForPathResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetEffectivePermissionsForPathRequest, GetEffectivePermissionsForPathResult>",
      "asyncReturnType" : "GetEffectivePermissionsForPathResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetEffectivePermissionsForPathRequest",
        "variableName" : "getEffectivePermissionsForPathRequest",
        "variableType" : "GetEffectivePermissionsForPathRequest",
        "documentation" : "",
        "simpleType" : "GetEffectivePermissionsForPathRequest",
        "variableSetterType" : "GetEffectivePermissionsForPathRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getEffectivePermissionsForPath",
      "operationName" : "GetEffectivePermissionsForPath",
      "returnType" : {
        "returnType" : "GetEffectivePermissionsForPathResult",
        "documentation" : null
      },
      "syncReturnType" : "GetEffectivePermissionsForPathResult"
    },
    "GrantPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GrantPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GrantPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GrantPermissionsRequest, GrantPermissionsResult>",
      "asyncReturnType" : "GrantPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GrantPermissionsRequest",
        "variableName" : "grantPermissionsRequest",
        "variableType" : "GrantPermissionsRequest",
        "documentation" : "",
        "simpleType" : "GrantPermissionsRequest",
        "variableSetterType" : "GrantPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "grantPermissions",
      "operationName" : "GrantPermissions",
      "returnType" : {
        "returnType" : "GrantPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "GrantPermissionsResult"
    },
    "ListPermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListPermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListPermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListPermissionsRequest, ListPermissionsResult>",
      "asyncReturnType" : "ListPermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListPermissionsRequest",
        "variableName" : "listPermissionsRequest",
        "variableType" : "ListPermissionsRequest",
        "documentation" : "",
        "simpleType" : "ListPermissionsRequest",
        "variableSetterType" : "ListPermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listPermissions",
      "operationName" : "ListPermissions",
      "returnType" : {
        "returnType" : "ListPermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "ListPermissionsResult"
    },
    "ListResources" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListResourcesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListResourcesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListResourcesRequest, ListResourcesResult>",
      "asyncReturnType" : "ListResourcesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListResourcesRequest",
        "variableName" : "listResourcesRequest",
        "variableType" : "ListResourcesRequest",
        "documentation" : "",
        "simpleType" : "ListResourcesRequest",
        "variableSetterType" : "ListResourcesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listResources",
      "operationName" : "ListResources",
      "returnType" : {
        "returnType" : "ListResourcesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListResourcesResult"
    },
    "PutDataLakeSettings" : {
      "asyncCallableType" : "java.util.concurrent.Callable<PutDataLakeSettingsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<PutDataLakeSettingsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<PutDataLakeSettingsRequest, PutDataLakeSettingsResult>",
      "asyncReturnType" : "PutDataLakeSettingsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "PutDataLakeSettingsRequest",
        "variableName" : "putDataLakeSettingsRequest",
        "variableType" : "PutDataLakeSettingsRequest",
        "documentation" : "",
        "simpleType" : "PutDataLakeSettingsRequest",
        "variableSetterType" : "PutDataLakeSettingsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "putDataLakeSettings",
      "operationName" : "PutDataLakeSettings",
      "returnType" : {
        "returnType" : "PutDataLakeSettingsResult",
        "documentation" : null
      },
      "syncReturnType" : "PutDataLakeSettingsResult"
    },
    "RegisterResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RegisterResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RegisterResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RegisterResourceRequest, RegisterResourceResult>",
      "asyncReturnType" : "RegisterResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "AlreadyExistsException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RegisterResourceRequest",
        "variableName" : "registerResourceRequest",
        "variableType" : "RegisterResourceRequest",
        "documentation" : "",
        "simpleType" : "RegisterResourceRequest",
        "variableSetterType" : "RegisterResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "registerResource",
      "operationName" : "RegisterResource",
      "returnType" : {
        "returnType" : "RegisterResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "RegisterResourceResult"
    },
    "RevokePermissions" : {
      "asyncCallableType" : "java.util.concurrent.Callable<RevokePermissionsResult>",
      "asyncFutureType" : "java.util.concurrent.Future<RevokePermissionsResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<RevokePermissionsRequest, RevokePermissionsResult>",
      "asyncReturnType" : "RevokePermissionsResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ConcurrentModificationException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "RevokePermissionsRequest",
        "variableName" : "revokePermissionsRequest",
        "variableType" : "RevokePermissionsRequest",
        "documentation" : "",
        "simpleType" : "RevokePermissionsRequest",
        "variableSetterType" : "RevokePermissionsRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "revokePermissions",
      "operationName" : "RevokePermissions",
      "returnType" : {
        "returnType" : "RevokePermissionsResult",
        "documentation" : null
      },
      "syncReturnType" : "RevokePermissionsResult"
    },
    "UpdateResource" : {
      "asyncCallableType" : "java.util.concurrent.Callable<UpdateResourceResult>",
      "asyncFutureType" : "java.util.concurrent.Future<UpdateResourceResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<UpdateResourceRequest, UpdateResourceResult>",
      "asyncReturnType" : "UpdateResourceResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "InvalidInputException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "InternalServiceException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "OperationTimeoutException",
        "documentation" : null,
        "httpStatusCode" : null
      }, {
        "exceptionName" : "EntityNotFoundException",
        "documentation" : null,
        "httpStatusCode" : null
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "UpdateResourceRequest",
        "variableName" : "updateResourceRequest",
        "variableType" : "UpdateResourceRequest",
        "documentation" : "",
        "simpleType" : "UpdateResourceRequest",
        "variableSetterType" : "UpdateResourceRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "updateResource",
      "operationName" : "UpdateResource",
      "returnType" : {
        "returnType" : "UpdateResourceResult",
        "documentation" : null
      },
      "syncReturnType" : "UpdateResourceResult"
    }
  },
  "shapes" : {
    "AccessDeniedException" : {
      "c2jName" : "AccessDeniedException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AccessDeniedException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AccessDeniedException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AccessDeniedException",
        "variableName" : "accessDeniedException",
        "variableType" : "AccessDeniedException",
        "documentation" : null,
        "simpleType" : "AccessDeniedException",
        "variableSetterType" : "AccessDeniedException"
      },
      "wrapper" : false
    },
    "AlreadyExistsException" : {
      "c2jName" : "AlreadyExistsException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "AlreadyExistsException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ ],
      "membersAsMap" : { },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AlreadyExistsException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AlreadyExistsException",
        "variableName" : "alreadyExistsException",
        "variableType" : "AlreadyExistsException",
        "documentation" : null,
        "simpleType" : "AlreadyExistsException",
        "variableSetterType" : "AlreadyExistsException"
      },
      "wrapper" : false
    },
    "AssumeDecoratedRoleWithSAMLRequest" : {
      "c2jName" : "AssumeDecoratedRoleWithSAMLRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "AssumeDecoratedRoleWithSAML",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSLakeFormation.AssumeDecoratedRoleWithSAML",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "SAMLAssertion",
        "c2jShape" : "SAMLAssertionString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param sAMLAssertion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSAMLAssertion",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSAMLAssertion",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SAMLAssertion",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SAMLAssertion",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SAMLAssertion",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param sAMLAssertion */",
        "setterMethodName" : "setSAMLAssertion",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sAMLAssertion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param sAMLAssertion \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sAMLAssertion",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RoleArn",
        "c2jShape" : "IAMRoleArn",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param roleArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRoleArn",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getRoleArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RoleArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RoleArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RoleArn",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param roleArn */",
        "setterMethodName" : "setRoleArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param roleArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "roleArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "PrincipalArn",
        "c2jShape" : "IAMSAMLProviderArn",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param principalArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withPrincipalArn",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getPrincipalArn",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "PrincipalArn",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "PrincipalArn",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "PrincipalArn",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param principalArn */",
        "setterMethodName" : "setPrincipalArn",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "principalArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param principalArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "principalArn",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "DurationSeconds",
        "c2jShape" : "CredentialTimeoutDurationSecondInteger",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param durationSeconds \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withDurationSeconds",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getDurationSeconds",
        "getterModel" : {
          "returnType" : "Integer",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "DurationSeconds",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "DurationSeconds",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "Integer",
        "marshallingType" : "INTEGER",
        "name" : "DurationSeconds",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param durationSeconds */",
        "setterMethodName" : "setDurationSeconds",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "durationSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param durationSeconds \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "Integer",
          "variableName" : "durationSeconds",
          "variableType" : "Integer",
          "documentation" : "",
          "simpleType" : "Integer",
          "variableSetterType" : "Integer"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "DurationSeconds" : {
          "c2jName" : "DurationSeconds",
          "c2jShape" : "CredentialTimeoutDurationSecondInteger",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param durationSeconds \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withDurationSeconds",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getDurationSeconds",
          "getterModel" : {
            "returnType" : "Integer",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "DurationSeconds",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "DurationSeconds",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "Integer",
          "marshallingType" : "INTEGER",
          "name" : "DurationSeconds",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param durationSeconds */",
          "setterMethodName" : "setDurationSeconds",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "durationSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param durationSeconds \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "Integer",
            "variableName" : "durationSeconds",
            "variableType" : "Integer",
            "documentation" : "",
            "simpleType" : "Integer",
            "variableSetterType" : "Integer"
          },
          "xmlNameSpaceUri" : null
        },
        "PrincipalArn" : {
          "c2jName" : "PrincipalArn",
          "c2jShape" : "IAMSAMLProviderArn",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param principalArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withPrincipalArn",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getPrincipalArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "PrincipalArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "PrincipalArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "PrincipalArn",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param principalArn */",
          "setterMethodName" : "setPrincipalArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "principalArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param principalArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "principalArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RoleArn" : {
          "c2jName" : "RoleArn",
          "c2jShape" : "IAMRoleArn",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param roleArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRoleArn",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getRoleArn",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RoleArn",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RoleArn",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RoleArn",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param roleArn */",
          "setterMethodName" : "setRoleArn",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param roleArn \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "roleArn",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SAMLAssertion" : {
          "c2jName" : "SAMLAssertion",
          "c2jShape" : "SAMLAssertionString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param sAMLAssertion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSAMLAssertion",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSAMLAssertion",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SAMLAssertion",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SAMLAssertion",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SAMLAssertion",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param sAMLAssertion */",
          "setterMethodName" : "setSAMLAssertion",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sAMLAssertion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param sAMLAssertion \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sAMLAssertion",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "SAMLAssertion", "RoleArn", "PrincipalArn" ],
      "shapeName" : "AssumeDecoratedRoleWithSAMLRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssumeDecoratedRoleWithSAMLRequest",
        "variableName" : "assumeDecoratedRoleWithSAMLRequest",
        "variableType" : "AssumeDecoratedRoleWithSAMLRequest",
        "documentation" : null,
        "simpleType" : "AssumeDecoratedRoleWithSAMLRequest",
        "variableSetterType" : "AssumeDecoratedRoleWithSAMLRequest"
      },
      "wrapper" : false
    },
    "AssumeDecoratedRoleWithSAMLResult" : {
      "c2jName" : "AssumeDecoratedRoleWithSAMLResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "AccessKeyId",
        "c2jShape" : "AccessKeyIdString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param accessKeyId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAccessKeyId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getAccessKeyId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AccessKeyId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AccessKeyId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AccessKeyId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param accessKeyId */",
        "setterMethodName" : "setAccessKeyId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessKeyId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param accessKeyId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "accessKeyId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SecretAccessKey",
        "c2jShape" : "SecretAccessKeyString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param secretAccessKey \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSecretAccessKey",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSecretAccessKey",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SecretAccessKey",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SecretAccessKey",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SecretAccessKey",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param secretAccessKey */",
        "setterMethodName" : "setSecretAccessKey",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secretAccessKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param secretAccessKey \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "secretAccessKey",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "SessionToken",
        "c2jShape" : "SessionTokenString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param sessionToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withSessionToken",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getSessionToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "SessionToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "SessionToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "SessionToken",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param sessionToken */",
        "setterMethodName" : "setSessionToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sessionToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param sessionToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "sessionToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Expiration",
        "c2jShape" : "ExpirationTimestamp",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param expiration \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExpiration",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getExpiration",
        "getterModel" : {
          "returnType" : "java.util.Date",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Expiration",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Expiration",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "java.util.Date",
        "marshallingType" : "DATE",
        "name" : "Expiration",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param expiration */",
        "setterMethodName" : "setExpiration",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "expiration",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param expiration \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : "unixTimestamp",
          "variableDeclarationType" : "java.util.Date",
          "variableName" : "expiration",
          "variableType" : "java.util.Date",
          "documentation" : "",
          "simpleType" : "Date",
          "variableSetterType" : "java.util.Date"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AccessKeyId" : {
          "c2jName" : "AccessKeyId",
          "c2jShape" : "AccessKeyIdString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param accessKeyId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAccessKeyId",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getAccessKeyId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AccessKeyId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AccessKeyId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AccessKeyId",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param accessKeyId */",
          "setterMethodName" : "setAccessKeyId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accessKeyId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param accessKeyId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "accessKeyId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Expiration" : {
          "c2jName" : "Expiration",
          "c2jShape" : "ExpirationTimestamp",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param expiration \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExpiration",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getExpiration",
          "getterModel" : {
            "returnType" : "java.util.Date",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Expiration",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Expiration",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "java.util.Date",
          "marshallingType" : "DATE",
          "name" : "Expiration",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param expiration */",
          "setterMethodName" : "setExpiration",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "expiration",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param expiration \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : "unixTimestamp",
            "variableDeclarationType" : "java.util.Date",
            "variableName" : "expiration",
            "variableType" : "java.util.Date",
            "documentation" : "",
            "simpleType" : "Date",
            "variableSetterType" : "java.util.Date"
          },
          "xmlNameSpaceUri" : null
        },
        "SecretAccessKey" : {
          "c2jName" : "SecretAccessKey",
          "c2jShape" : "SecretAccessKeyString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param secretAccessKey \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSecretAccessKey",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSecretAccessKey",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SecretAccessKey",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SecretAccessKey",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SecretAccessKey",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param secretAccessKey */",
          "setterMethodName" : "setSecretAccessKey",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "secretAccessKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param secretAccessKey \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "secretAccessKey",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "SessionToken" : {
          "c2jName" : "SessionToken",
          "c2jShape" : "SessionTokenString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param sessionToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withSessionToken",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getSessionToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "SessionToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "SessionToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "SessionToken",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param sessionToken */",
          "setterMethodName" : "setSessionToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sessionToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param sessionToken \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "sessionToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : null,
      "shapeName" : "AssumeDecoratedRoleWithSAMLResult",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AssumeDecoratedRoleWithSAMLResult",
        "variableName" : "assumeDecoratedRoleWithSAMLResult",
        "variableType" : "AssumeDecoratedRoleWithSAMLResult",
        "documentation" : null,
        "simpleType" : "AssumeDecoratedRoleWithSAMLResult",
        "variableSetterType" : "AssumeDecoratedRoleWithSAMLResult"
      },
      "wrapper" : false
    },
    "BatchGrantPermissionsRequest" : {
      "c2jName" : "BatchGrantPermissionsRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchGrantPermissions",
        "locationName" : null,
        "requestUri" : "/",
        "target" : "AWSLakeFormation.BatchGrantPermissions",
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "CatalogId",
        "c2jShape" : "CatalogIdString",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param catalogId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCatalogId",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCatalogId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "CatalogId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "CatalogId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "CatalogId",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param catalogId */",
        "setterMethodName" : "setCatalogId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "catalogId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param catalogId \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "catalogId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Entries",
        "c2jShape" : "BatchPermissionsRequestEntryList",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param entries \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withEntries",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getEntries",
        "getterModel" : {
          "returnType" : "java.util.List<BatchPermissionsRequestEntry>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Entries",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Entries",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "BatchPermissionsRequestEntry",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "BatchPermissionsRequestEntry",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "BatchPermissionsRequestEntry",
              "variableName" : "member",
              "variableType" : "BatchPermissionsRequestEntry",
              "documentation" : "",
              "simpleType" : "BatchPermissionsRequestEntry",
              "variableSetterType" : "BatchPermissionsRequestEntry"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "BatchPermissionsRequestEntry",
              "variableName" : "member",
              "variableType" : "BatchPermissionsRequestEntry",
              "documentation" : "",
              "simpleType" : "BatchPermissionsRequestEntry",
              "variableSetterType" : "BatchPermissionsRequestEntry"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "BatchPermissionsRequestEntry",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "BatchPermissionsRequestEntry",
          "templateImplType" : "java.util.ArrayList<BatchPermissionsRequestEntry>",
          "templateType" : "java.util.List<BatchPermissionsRequestEntry>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Entries",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param entries */",
        "setterMethodName" : "setEntries",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<BatchPermissionsRequestEntry>",
          "variableName" : "entries",
          "variableType" : "java.util.List<BatchPermissionsRequestEntry>",
          "documentation" : "",
          "simpleType" : "List<BatchPermissionsRequestEntry>",
          "variableSetterType" : "java.util.Collection<BatchPermissionsRequestEntry>"
        },
        "shouldEmitLegacyEnumSetter" : true,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEntries(java.util.Collection)} or {@link #withEntries(java.util.Collection)} if you want to override the existing values.</p>\n@param entries \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<BatchPermissionsRequestEntry>",
          "variableName" : "entries",
          "variableType" : "java.util.List<BatchPermissionsRequestEntry>",
          "documentation" : "",
          "simpleType" : "List<BatchPermissionsRequestEntry>",
          "variableSetterType" : "java.util.Collection<BatchPermissionsRequestEntry>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "CatalogId" : {
          "c2jName" : "CatalogId",
          "c2jShape" : "CatalogIdString",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param catalogId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCatalogId",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCatalogId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "CatalogId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "CatalogId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "CatalogId",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param catalogId */",
          "setterMethodName" : "setCatalogId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "catalogId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param catalogId \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "catalogId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "Entries" : {
          "c2jName" : "Entries",
          "c2jShape" : "BatchPermissionsRequestEntryList",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param entries \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withEntries",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getEntries",
          "getterModel" : {
            "returnType" : "java.util.List<BatchPermissionsRequestEntry>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Entries",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Entries",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "BatchPermissionsRequestEntry",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "BatchPermissionsRequestEntry",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "BatchPermissionsRequestEntry",
                "variableName" : "member",
                "variableType" : "BatchPermissionsRequestEntry",
                "documentation" : "",
                "simpleType" : "BatchPermissionsRequestEntry",
                "variableSetterType" : "BatchPermissionsRequestEntry"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "BatchPermissionsRequestEntry",
                "variableName" : "member",
                "variableType" : "BatchPermissionsRequestEntry",
                "documentation" : "",
                "simpleType" : "BatchPermissionsRequestEntry",
                "variableSetterType" : "BatchPermissionsRequestEntry"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "BatchPermissionsRequestEntry",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "BatchPermissionsRequestEntry",
            "templateImplType" : "java.util.ArrayList<BatchPermissionsRequestEntry>",
            "templateType" : "java.util.List<BatchPermissionsRequestEntry>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Entries",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param entries */",
          "setterMethodName" : "setEntries",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<BatchPermissionsRequestEntry>",
            "variableName" : "entries",
            "variableType" : "java.util.List<BatchPermissionsRequestEntry>",
            "documentation" : "",
            "simpleType" : "List<BatchPermissionsRequestEntry>",
            "variableSetterType" : "java.util.Collection<BatchPermissionsRequestEntry>"
          },
          "shouldEmitLegacyEnumSetter" : true,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setEntries(java.util.Collection)} or {@link #withEntries(java.util.Collection)} if you want to override the existing values.</p>\n@param entries \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<BatchPermissionsRequestEntry>",
            "variableName" : "entries",
            "variableType" : "java.util.List<BatchPermissionsRequestEntry>",
            "documentation" : "",
            "simpleType" : "List<BatchPermissionsRequestEntry>",
            "variableSetterType" : "java.util.Collection<BatchPermissionsRequestEntry>"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "Entries" ],
      "shapeName" : "BatchGrantPermissionsRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchGrantPermissionsRequest",
        "variableName" : "batchGrantPermissionsRequest",
        "variableType" : "BatchGrantPermissionsRequest",
        "documentation" : null,
        "simpleType" : "BatchGrantPermissionsRequest",
        "variableSetterType" : "BatchGrantPermissionsRequest"
      },
      "wrapper" : false
    },
    "BatchGrantPermissionsResult" : {
      "c2jName" : "BatchGrantPermissionsResponse",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Failures",
        "c2jShape" : "BatchPermissionsFailureList",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param failures \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withFailures",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getFailures",
        "getterModel" : {
          "returnType" : "java.util.List<BatchPermissionsFailureEntry>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Failures",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Failures",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
[...]
